@media (prefers-color-scheme: dark) {
    body {
        color: #eee;
        background: #121212;
    }

 
    a:active {
        color: rgba(190, 223, 201, 0.705);
    }
}

pre {
    background-color: rgb(8, 0, 5);
}

 


img {
    display: block;
    max-width: 100%;
    height: auto;
}
p{
    color:rgb(240, 231, 231);
    font-weight:bold;
    font-size:1.2em
}
 
a {
    text-decoration: none;
    /* font-family:; */
    color: rgb(111, 194, 241);
    /* font-size: 13pt; */
}

a:hover {
    text-decoration: none;
    color: rgb(214, 202, 202)
}

.container {
    margin-bottom: 40px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
ul{
    font-size:1.3em;
}
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 4.5rem;
    }
}
 
