@media (prefers-color-scheme: dark) {
    body {
        color: #eee;
        background: #121212;
    }



    /* selected link */
    a:active {
        color: rgba(190, 223, 201, 0.705);
    }
}

pre {
    background-color: darkslategray;
}

pre code {
    color: white;
}



img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    font-family: sytem-ui;
    color: rgb(88, 170, 236);
    /* font-size: 13pt; */
}

a:hover {
    text-decoration: none;
    color: rgb(214, 202, 202)
}

.container {
    margin-bottom: 40px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
 
